body {
	color: #424b51;
	font-family: "lato",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 2rem;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: auto !important;
}

p{
	font-weight: 300;
	font-size: 2rem;
}

h1, h2, h3{
	font-family: "museo",serif;
	font-style: normal;
	font-weight: 300;
}

hr {
margin-top: 1.5rem;
margin-bottom: 0;
border: 0;
border-top: 1px solid #eee;
}

.section-equipo{
	background: white;
	padding: 2.5rem 0;
}

.section-servicios{
	background: white;
	padding: 2.5rem 0;
}

.section-portafolio{
	background: #F9F9F9;
	padding: 2.5rem 0;
}

.section-llamadacontacto{
	background: #F9F9F9;
	padding: 5rem 0;
	background: black;
	width: 100%;
	background-image: url(http://www.dotlogics.com/images/contct_ban.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.section-llamadacontacto h4{
		font-size: 2.6rem;
		color: white;
}

.section-contacto{
background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 	padding: 2.5rem 0;
  }

.portafolio img{
	padding-right: 0;
padding-left: 0px;
width: 100%;
}

footer p{
	font-size: 1.5rem
}

.input-lg{
	font-size:1.4rem;
}
