site-wrapper{
	background: red;
}

body {
	color: #424b51;
	font-family: "lato",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.4rem;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: auto !important;
}

h1, h2, h3{
	font-family: "museo",serif;
	font-style: normal;
	font-weight: 300;
}